include ../mixin.pug
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{title}
    body.body_bg
        div.bg
            div.bg__one
        block content
        block footer
            include ../includes/menu_mobile.pug