div.corousel
    div.wrapper.corousel__wrapper
        h3.corousel__h3  Новости и Акции
        div.splide
            div.splide__track
                ul.splide__list
                    li.splide__slide Slide 01
                    li.splide__slide Slide 02
                    li.splide__slide Slide 03