section.footer
    div.wrapper.footer__wrapper
        div.footer__list
            div.footer__item
                ul
                    li
                        a(href="#") (843) 214-23-15
                    li
                        a(href="#") MyDoc@info.ru
                    li
                        a(href="#") Контакты
                    li
                        a(href="#") Способы оплаты
            div.footer__item
                ul
                    li
                        a(href="#") Интернет - заказ
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Как заказать
                    li
                        a(href="#") Вопросы и ответы
            div.footer__item
                ul
                    li
                        a(href="#") Аптеки
                    li
                        a(href="#") Покупателям
                    li
                        a(href="#") Партнёрам
                    li
                        a(href="#") О нас
            div.footer__item
                div.footer__device
                    a(href="#").footer__device_item
                        img(src=require("../../images/appstore.png").default)
                    a(href="#").footer__device_item
                        img(src=require("../../images/gpay.png").default)