div.menu_mobile.burger-js--menu_mobile
    div.menu_mobile__container
        div.menu_mobile__list
            div.menu_mobile__item
                div.menu_mobile__title.menu_mobile-js Интернет-заказ
                ul.menu_mobile__ul.menu_mobile-js--ul
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Как сделать заказ
                    li
                        a(href="#") Вопросы и ответы
            div.menu_mobile__item
                div.menu_mobile__title.menu_mobile-js Партнерам
                ul.menu_mobile__ul.menu_mobile-js--ul
                    li
                        a(href="#") Арендодателям
                    li
                        a(href="#") Рекламодателям
                    li
                        a(href="#") Юридическим лицам