div.option_catalog
    div.option_catalog__sort
        div.option_catalog__sort_title Сортировать
        div.option_catalog__sort_select.option_catalog__sort_select--js
            div.option_catalog__sort_block
                span.option_catalog__sort_name Сначала популярные
                span.option_catalog__sort_icon
                    <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L11 11L21 1" stroke="#5E5E5E"/>
                    </svg>
            div.option_catalog__sort_list
                a(href="") Сначала популярные
                a(href="") По названию
                a(href="") Сначала дешевле
                a(href="") Сначала дороже
    div.option_catalog__view
        a(href="").option_catalog__view_colum
            span
            span
            span
            span
        a(href="").option_catalog__view_list
            span
            span