.search_pharmacies{
  border-bottom: 1px #beb7b7 solid;
}

.search_pharmacies__wrapper{
  padding-top: 70px;
  padding-bottom: 70px;
}

.search_pharmacies__h2{
  color: #fff;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}

.search_pharmacies__block{
  display: flex;
  justify-content: center;
}

.search_pharmacies__form{
  width: 640px;
}