.search_mobile{
  display: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.search_mobile__form{

}

.search_mobile__block{
  height: 54px;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
}

.search_mobile__input{
  width: calc(100% - 60px);
  border: 0;
  margin: 0 30px;
  font-size: 15px;
}

.search_mobile__button{
  background-color: #1162db;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0 35px;
  height: 54px;
  border: 0;
  border-radius: 0 25px 25px 0;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  &:hover{
    transition: .3s;
    opacity: .9;
  }
}

.search_mobile__button_svg{
  display: none;
}

@media screen and (max-width: 768px){
  .search_mobile{
    display: block;
  }

  .search_mobile__button{
    padding: 0 17px;
  }
  .search_mobile__button_title{
    display: none;
  }
  .search_mobile__button_svg{
    display: block;
  }
}