.news_promotions {
  width: 100%;
  border-bottom: 1px #beb7b7 solid;
}

.news_promotions__wrapper{
  padding-top: 110px;
  padding-bottom: 100px;
}

.news_promotions__h2{
  color: #424242;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}