div.carousel_about
    div.splide
        div.splide__track
            div.splide__list
                div.splide__slide
                    a(href="#")
                        div.carousel_about__images
                            img(src=require("../../images/slider1.png").default)
                div.splide__slide
                    a(href="#")
                        div.carousel_about__images
                            img(src=require("../../images/slider2.png").default)
                div.splide__slide
                    a(href="#")
                        div.carousel_about__images
                            img(src=require("../../images/slider3.png").default)