* {
  outline: none;
}

html, body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.body_bg{
  background-color: #40E0D0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: .3s;
  color: #000000;
  &:hover {
    opacity: .9;
    transition: .3s;
  }
}

.wrapper {
  box-sizing: border-box;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

section{
  position: relative;
}

@media screen and (max-width: 1090px){
  body{
    margin-top: 70px;
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}


