.card_vertical{
  padding: 20px;
  border-radius: 25px;
  background-color: #fff;
}

.card_vertical__hit{
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-decoration-color: #FFC107;
}

.card_vertical__images{
  img{

  }
}

.card_vertical__cat{

}

.card_vertical__title{

}

.card_vertical__rating{
  span{

  }
}

.card_vertical__availability{

}

.card_vertical__basket{

}

.card_vertical__price{

}

.card_vertical__basket_icon{
  width: 32px;
  height: 32px;
  background: #1162db;
  border-radius: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  &:before{
    content: "";
    background-image: url("./images/icon/bag.png");
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-top: -3px;
  }
}

.card_vertical__buy{
  a{

  }
}