.card_horizontal{
  padding: 20px;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  gap: 20px
}

.card_horizontal__container{
  width: calc(100% - 220px);
  gap: 10px;
  display: grid;
}

.card_horizontal__block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.card_horizontal__block_one{
  width: calc(100% - 155px);
}

.card_horizontal__block_tho{
  width: 145px;
  display: grid;
  justify-items: right;
}

.card_horizontal__hit{
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-decoration-color: #FFC107;
}

.card_horizontal__images{
  width: 200px;
  height: 150px;
  img{
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }
}

.card_horizontal__cat{
  font-size: 11px;
  margin-bottom: 10px;
}

.card_horizontal__title{
  font-size: 14px;
  height: 50px;
  font-weight: 400;
  overflow: hidden;
}

.card_horizontal__rating{
  display: flex;
  gap: 5px;
  align-items: center;
  span{
    cursor: pointer;
  }
}

.card_horizontal__availability{
  color: #2C9FAE;
  font-weight: 400;
  font-size: 15px;
}

.card_horizontal__basket{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_horizontal__price{
  font-size: 24px;
}

.card_horizontal__basket_icon{
  width: 32px;
  height: 32px;
  background: #1162db;
  border-radius: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  &:before{
    content: "";
    background-image: url("./images/icon/bag.png");
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-top: -3px;
  }
}

.card_horizontal__buy{
  a{
    text-transform: uppercase;
    font-size: 13px;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-color: #2C9FAE;
  }
}

@media screen and (max-width: 945px){
  .card_horizontal__images {
    width: 145px;
    height: 130px;
  }
  .card_horizontal__container{
    width: calc(100% - 165px);
    gap: 10px;
    display: grid;
  }
}

@media screen and (max-width: 544px){
  .card_horizontal{
    display: block;
  }
  .card_horizontal__container{
    width: calc(100%);
    gap: 10px;
    display: grid;
  }
  .card_horizontal__images {
    width: 100%;
    height: 150px;
  }
}