div.product_instruction
    h2.product_instruction__h2 Инструкция
    ul.product_instruction__list
        li
            a(href="") Состав и описание
        li
            a(href="") Противопоказания
        li
            a(href="") Дозировка
        li
            a(href="") Показания к применению
        li
            a(href="") Взаимодействие с другими лекарственными средствами
        li
            a(href="") Дозировка
        li
            a(href="") Фармакологическое действие
        li
            a(href="") Беременность и кормление грудью
        li
            a(href="") Побочные явления
        li
            a(href="") Особые указания
        li
            a(href="") Условия хранения
        li
            a(href="") Способы применения и дозы
        li
            a(href="") Информация