div.product_description
    h2.product_description__h2 Инструкция
    div.product_description__content
        p.
            Активное вещество:
            1 капсула содержит: умифеновира гидрохлорида моногидрат (в пересчете на умифеновира гидрохлорид) – 100 мг.
        p.
            Вспомогательные вещества: <br>
            Крахмал картофельный – 30,14 мг, целлюлоза микрокристаллическая – 55,76 мг, кремния диоксид коллоидный (аэросил) – 2,0 мг, повидон К 25 (коллидон 25) – 10,1 мг, кальция стеарат – 2,0 мг
            Капсулы твердые желатиновые № 1:
            корпус: титана диоксид (Е 171) – 2,0000 %, желатин – до 100 %;
            крышечка: титана диоксид (Е 171) – 1,3333 %, краситель солнечный закат желтый (Е 110) – 0,0044 %, хинолиновый желтый (Е 104) – 0,9197 %, желатин – до 100 %.
        p.
            Описание:
            Арбидол® - российский препарат от ОРВИ и гриппа, признанный на международном уровне. Арбидол® капсулы — специальная форма выпуска для лечения и профилактики гриппа и ОРВИ у взрослых и детей с 6 лет. Доказанное действие от простуды и гриппа.
        p.
            Исследования: <br>
            1. В 2013 году Арбидол® был включен ВОЗ в группу противовирусных препаратов прямого действия в международный классификатор лекарственных средств АТХ1.
            <br>
            2. Арбидол® — единственный российский препарат, который включен экспертами Международного общества по гриппу и другим ОРВИ в перечень противовирусных средств для лечения гриппа**.
            <br>
            3. Арбидол® — это доказанное действие от простуды и гриппа:<br>
            - более 25 клинических исследований, в том числе Многоцентровое Рандомизированное двойное слепое Плацебо - Контролируемое Исследование «АРБИТР» и Крупномасштабные фармако - эмидемиологические исследования «ЭГИДА»;<br>
            - более 125 научных публикаций и статей, из них более 74 зарубежные ** *;<br>
            - более 100 исследовательских центров.
            <br>
            4. Действие Арбидол® подтверждено исследованиями. Согласно исследованиям, препарат снижает: риск заражения до 7 раз (постконтактная профилактика) ****; риск развития осложнений гриппа и ОРВИ*****: пневмонии до 98 %; бронхита до 90 %; синусита до 78 %. Арбидол снижает продолжительность болезни.
            <br>
            5. Арбидол® — победитель премии «Товар года 2019» в категории "Противовирусные препараты".
    div.product_description__error
        a(href='#') Сообщить о неточности в описании