div.product_abc
    h2.product_abc__h2 Список лекарств по алфавиту
    div.product_abc__block
        div.product_abc__ru
            a(href="#") А
            a(href="#") Б
            a(href="#") В
            a(href="#") Г
            a(href="#") Д
            a(href="#") Е
            a(href="#") Ж
            a(href="#") З
            a(href="#") И
            a(href="#") Й
            a(href="#") К
            a(href="#") Л
            a(href="#") М
            a(href="#") Н
            a(href="#") О
            a(href="#") П
            a(href="#") Р
            a(href="#") С
            a(href="#") Т
            a(href="#") У
            a(href="#") Ф
            a(href="#") Х
            a(href="#") Ц
            a(href="#") Ч
            a(href="#") Ш
            a(href="#") Щ
            a(href="#") Э
            a(href="#") Ю
            a(href="#") Я
        div.product_abc__en
            a(href="#") A
            a(href="#") B
            a(href="#") C
            a(href="#") D
            a(href="#") E
            a(href="#") F
            a(href="#") G
            a(href="#") H
            a(href="#") I
            a(href="#") J
            a(href="#") K
            a(href="#") L
            a(href="#") M
            a(href="#") N
            a(href="#") O
            a(href="#") P
            a(href="#") Q
            a(href="#") R
            a(href="#") S
            a(href="#") T
            a(href="#") U
            a(href="#") V
            a(href="#") W
            a(href="#") X
            a(href="#") Y
            a(href="#") Z