div.product_release
    h2.product_release__h2 Формы выпуска
    div.product_release__list
        +card_vertical("catalog/1.png", "Арбидол противовирусное от гриппа и ОРВИ капс. 100мг 20шт", "Арбидол")
        +card_vertical("catalog/2.png", "Витамин С Liksivum таб шип. 900мг 20 шт", "Liksivum")
        +card_vertical("catalog/3.png", "ГриппоФлю Экстра от простуды и гриппа лимонный 3 шт, порошок", "ГриппоФлю")