.product_instruction{
  margin-top: 60px;
  margin-bottom: 60px;
}

.product_instruction__h2{
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}

.product_instruction__list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
  li{

  }
  a{
    font-size: 16px;
    color: #2C9FAE;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 5px;
    &:hover{
      text-decoration: none;
    }
  }
}