.header{
  background-color: #2C9FAE;
}

.header__wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px
}

.header__left{

}

.header__right{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1090px){
  .header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .header__wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header__right{
    gap: 15px;
  }
}

@media screen and (max-width: 424px){
  .header__right{
    gap: 10px;
  }
}