- var title = 'Навигация по шаблону MD'
-
    var map = [
        {
            title: 'Главная страница',
            href: '/home.html'
        },
        {
            title: 'Каталог (Вертикальные карточки товара)',
            href: '/catalog.html'
        },
        {
            title: 'Каталог (Горизонтальные карточки товара)',
            href: '/catalog-2.html'
        },
        {
            title: 'Карточка товара)',
            href: '/product.html'
        }
    ]

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{title}
    body.navigation_template
        div.navigation_template__block
            h2 Навигация по шаблону
            ul
              each item in map
                  li
                      a(href=item.href) #{item.title}